<div class="ad">
  <a class="product" href="http://www.mazesforprogrammers.com"><img src="https://imagery.pragprog.com/products/439/jbmaze_largecover.jpg?1421259509" /></a>
  <p class="exhortation">
    <em>The</em> maze book for programmers!<br />
    <span class="soldat">
      <a target="_blank" href="http://www.mazesforprogrammers.com">mazesforprogrammers.com</a>
    </span>
  </p>
  <p>Algorithms, circle mazes, hex grids, masking, weaving, braiding, 3D and 4D grids, spheres, and more!</p>
  <p class="exhortation">
    <span class="soldat">
      <a target="_blank" href="https://pragprog.com/book/jbmaze/mazes-for-programmers">DRM-Free Ebook</a>
    </span>
  </p>
</div>
